<div class="recalls campaigns" layout="column" layout-fill>
    <md-toolbar md-scroll-shrink="true">
        <div class="md-toolbar-tools">
            <nav-back-button></nav-back-button>
            <h2 flex i18n="recalls.campaigns.title"></h2>
            <md-button class="md-icon-button" href="#/recalls/search">
                <md-icon>search</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex>
        <h2 class="md-title" layout="row" layout-align="center center">{{campaigns.recall.recall_number}}</h2>
        <div class="details-item" layout="row" layout-align="start center">
            <classification-icon classification="{{campaigns.recall.classification}}"></classification-icon>
            <span layout-margin>
                {{campaigns.recall.classification}}
            </span>
        </div>
        <div class="details-item" layout="row" layout-align="start center">
            <span i18n="recalls.campaigns.reportDateTitle"></span>
            <span layout-margin>
                {{campaigns.recall.recall_initiation_date }}<!--| date: 'MM/dd/yyyy' todo : not working because of data -->
            </span>
        </div>
        <div class="details-item">
            <span layout-margin>
                {{campaigns.recall.code_info}}
            </span>
        </div>
        <div class="details-item">
            <h2 i18n="recalls.campaigns.reasonRecallTitle"></h2>
            <p>
                {{campaigns.recall.reason_for_recall}}
            </p>
        </div>
        <div class="details-item">
            <h2 i18n="recalls.campaigns.recallingFirmTitle">Recalling Firm</h2>
            <p>
                {{campaigns.recall.recalling_firm}}
            </p>
        </div>
        <div class="details-item">
            <h2 i18n="recalls.campaigns.productDescriptionTitle"></h2>
            <p>
                {{campaigns.recall.product_description}}
            </p>
        </div>
        <div class="details-item">
            <h2 i18n="recalls.campaigns.distributionTitle"></h2>
            <p>
                {{campaigns.recall.distribution_pattern}}
            </p>
        </div>
        <div class="details-item">
            <h2 i18n="recalls.campaigns.statusTitle">Status</h2>
            <p>
                {{campaigns.recall.status}}
            </p>
        </div>
    </md-content>
</div>
