<div class="recalls campaigns" layout="column" layout-fill>
    <md-toolbar md-scroll-shrink="true">
        <div class="md-toolbar-tools">
            <nav-back-button></nav-back-button>
            <h2 flex>{{campaigns.recall.event_id}}</h2>
            <md-button class="md-icon-button" href="#/recalls/search">
                <md-icon>search</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex>
        <h2 class="md-title" layout="row" layout-align="center center">{{campaigns.recall.product_description | truncate:25}}</h2>
        <md-card ng-if="campaigns.product.imageUrl">
            <img ng-src="{{campaigns.product.imageUrl}}" class="md-card-image" alt="">
        </md-card>
        <md-card>
            <md-card-content>
                <md-input-container>
                    <label i18n="recalls.campaigns.productDescriptionTitle"></label>
                    <textarea ng-model="campaigns.recall.product_description" readonly/>
                </md-input-container>
                <md-input-container>
                    <label i18n="recalls.campaigns.reasonRecallTitle"></label>
                    <textarea ng-model="campaigns.recall.reason_for_recall" readonly/>
                </md-input-container>
                <md-input-container>
                    <label i18n="recalls.campaigns.distributionTitle"></label>
                    <textarea ng-model="campaigns.recall.distribution_pattern" readonly/>
                </md-input-container>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-content>
                <p layout="row" layout-align="start center">
                    <classification-icon classification="{{campaigns.recall.classification}}"></classification-icon>
                    <span layout-margin>
                        {{campaigns.recall.classification}}
                    </span>
                </p>
                <md-input-container>
                    <label i18n="recalls.campaigns.reportDateTitle"></label>
                    <input ng-model="campaigns.recall.report_date" readonly format="fdaDate" format-options="MM/dd/yyyy"/>
                </md-input-container>
                <md-input-container>
                    <label i18n="recalls.campaigns.initiationDateTitle"></label>
                    <input ng-model="campaigns.recall.recall_initiation_date" readonly format="fdaDate" format-options="MM/dd/yyyy"/>
                </md-input-container>
                <md-input-container>
                    <label i18n="recalls.campaigns.statusTitle"></label>
                    <input ng-model="campaigns.recall.status" readonly/>
                </md-input-container>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-content>
                <md-input-container>
                    <label i18n="recalls.campaigns.recallingFirmTitle"></label>
                    <input ng-model="campaigns.recall.recalling_firm" readonly/>
                </md-input-container>
                <md-input-container>
                    <label i18n="recalls.campaigns.recallNumberTitle"></label>
                    <input ng-model="campaigns.recall.recall_number" readonly/>
                </md-input-container>
                <md-input-container>
                    <label i18n="recalls.campaigns.codeInfoTitle"></label>
                    <textarea ng-model="campaigns.recall.code_info" readonly/>
                </md-input-container>
            </md-card-content>
        </md-card>
    </md-content>
</div>
