<div class="recalls classification-distribution">
    <md-toolbar class="header-toolbar">
        <div class="md-toolbar-tools">
            <nav-back-button></nav-back-button>
            <h2 flex i18n="recalls.classDistribution.title"></h2>
        </div>
    </md-toolbar>
    <md-content>
        <div layout="row" layout-align="center" flex>
            <h2 i18n="recalls.classDistribution.chartTitle"></h2>
        </div>

        <div flex layout="column" layout-align="center center"
            ng-if="classificationDistribution.classificationData.length">
            <div id="class-distribution-chart">
                <svg></svg>
            </div>
        </div>

        <md-card flex>
            <md-card-content>
                <h3 i18n="recalls.classDistribution.class1Title"></h3>
                <p i18n="recalls.classDistribution.class1Description"></p>

                <h3 i18n="recalls.classDistribution.class2Title"></h3>
                <p i18n="recalls.classDistribution.class2Description"></p>

                <h3 i18n="recalls.classDistribution.class3Title"></h3>
                <p i18n="recalls.classDistribution.class3Description"></p>
            </md-card-content>
        </md-card>
    </md-content>
</div>
