<div class="recalls classification-distribution">
    <md-toolbar class="header-toolbar">
        <div class="md-toolbar-tools">
            <nav-back-button></nav-back-button>
            <h2 flex i18n="recalls.classDistribution.title"></h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-card ng-if="classificationDistribution.classificationData.length">
            <md-card-content layout="row" layout-align="center center">
                <div id="class-distribution-chart">
                    <svg></svg>
                </div>
            </md-card-content>
        </md-card>

        <md-card flex>
            <md-card-content class="classification-descriptions">
                <md-input-container>
                    <label i18n="recalls.classDistribution.class1Title"></label>
                    <textarea readonly ng-model="classificationDistribution.class1Description"/>
                </md-input-container>

                <md-input-container>
                    <label i18n="recalls.classDistribution.class2Title"></label>
                    <textarea readonly ng-model="classificationDistribution.class2Description"/>
                </md-input-container>

                <md-input-container>
                    <label i18n="recalls.classDistribution.class3Title"></label>
                    <textarea readonly ng-model="classificationDistribution.class3Description"/>
                </md-input-container>
            </md-card-content>
        </md-card>
    </md-content>
</div>
