
<div class="recalls index" layout="column" layout-fill>
    <div class="safer" flex />
    <md-toolbar flex layout="column" layout-align="start center" layout-padding>
        <h1 class="md-headline" i18n="recalls.index.title"></h1>
        <h2 class="md-subhead" i18n="recalls.index.subTitle"></h2>
        <md-button class="md-raised md-accent" scan-button>
            <md-icon>photo_camera</md-icon>
            <span i18n="recalls.index.scanButton"></span>
        </md-button>
        <md-button class="md-primary md-hue-1" role="link"
                   href="#/recalls/search"
                   i18n="recalls.index.enterKeywordsButton"></md-button>
    </md-toolbar>

</div>

