<md-toolbar layout-fill layout="column" layout-align="center center" class="recalls index">
    <h1 class="md-headline" i18n="recalls.index.title"></h1>
    <h2 class="md-subhead" i18n="recalls.index.subTitle"></h2>
    <md-icon class="md-accent">photo_camera</md-icon>
    <md-button class="md-raised md-accent" scan-button i18n="recalls.index.scanButton"></md-button>
    <md-button class="md-primary md-hue-1" role="link"
               href="#/recalls/search"
               i18n="recalls.index.enterKeywordsButton"></md-button>
</md-toolbar>
