.recalls.search {

  md-content {
    background: transparent;
  }
  md-list-item {
    padding: 0;
    &:not(:first-child) md-card {
      margin-top: 0;
    }
    &:hover {
        cursor: pointer;
    }
    &.ng-enter {
      $delay: 60ms;
      transition: all 500ms ease;
      opacity: 0;
      transform: translateY(500%);
      transition-delay: $delay*10;
      &.ng-enter-active {
        opacity: 1;
        transform: translateY(0);
      }
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: $delay*1;
      }
      &:nth-child(3) {
        transition-delay: $delay*2;
      }
      &:nth-child(4) {
        transition-delay: $delay*3;
      }
      &:nth-child(5) {
        transition-delay: $delay*4;
      }
      &:nth-child(6) {
        transition-delay: $delay*5;
      }
      &:nth-child(7) {
        transition-delay: $delay*6;
      }
      &:nth-child(8) {
        transition-delay: $delay*7;
      }
      &:nth-child(9) {
        transition-delay: $delay*8;
      }
      &:nth-child(10) {
        transition-delay: $delay*9;
      }
    }
  }
  .search-results-feedback {
      height: 35px;
      margin-top: 10px;
  }
  .description {
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    max-height: 39px;
    overflow: hidden;
  }
    .header-toolbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .search-page-content {
        margin-top: 64px;

        .search-results-feedback, .search-form {
            padding-top: 10px;
        }

        .tab-body {
            padding: 10px;
        }

        md-input-container {
            width: 100%;
        }
    }

    .search-results-feedback, .search-form {
        width: 340px;
    }

    .manual-search-actions {
        width: 100%;
    }
}
