.recalls.search {

  md-content {
    background: transparent;
  }
  md-list-item:hover {
      cursor: pointer;
  }
  .search-results-feedback {
      height: 35px;
      margin-top: 10px;
  }
  .description {
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
  }
    .header-toolbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .footer-toolbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .search-results-content {
        position: fixed;
        top: 64px;
        bottom: 64px;
        left: 0;
        right: 0;
        overflow-y: auto;

        &.no-results {
            bottom: 0;
        }

        md-input-container {
            width: 100%;
        }
    }

    .manual-search-actions {
        width: 100%;
    }
}
