<div class="recalls search" layout="column" layout-fill>
    <div class="backdrop" layout="column" layout-align="center center" layout-fill>
        <div class="search-results-feedback" i18n="recalls.search.noResults"
             ng-if="search.recalls.length == 0"></div>
        <form name="searchForm" ng-submit="search.doSearch()"
              layout="column" layout-align="center center"
              ng-if="!search.recalls.length">
            <md-input-container style="width:100%">
                <label i18n="recalls.search.manualSearchInput"></label>
                <input ng-model="search.manualSearch" required>
            </md-input-container>
            <div class="manual-search-actions"
                  layout="row" layout-sm="column" layout-align="center center">
                <md-button type="submit" class="md-primary md-raised"
                           ng-disabled="searchForm.$invalid">
                    <md-icon>search</md-icon>
                    <span i18n="recalls.search.manualSearchButton"></span>
                </md-button>
                <div>or</div>
                <md-button scan-button class="md-primary md-raised">
                    <md-icon>photo_camera</md-icon>
                    <span i18n="recalls.search.manualSearchScanButton"></span>
                </md-button>
            </div>
        </form>
    </div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <nav-back-button></nav-back-button>
            <h2 flex i18n="recalls.search.title"></h2>
            <md-button class="md-icon-button" ng-if="search.recalls.length"
                       ng-click="search.resetSearchForm()">
                <md-icon>search</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-list class="recall-list">
            <md-list-item layout="row" ng-repeat="item in search.recalls" href="#/recalls/campaigns/{{item.event_id}}">
                <classification-icon classification="{{item.classification}}"></classification-icon>
                <span flex class="description">{{item.product_description}}</span>
                <md-icon>chevron_right</md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</div>
