<div class="recalls search" layout="column" layout-fill>

    <md-toolbar class="header-toolbar">
        <div class="md-toolbar-tools">
            <nav-back-button></nav-back-button>
            <h2 flex i18n="recalls.search.title"></h2>
            <md-button class="md-icon-button"
                       ng-if="search.state === search.states.RESULTS"
                       ng-click="search.resetSearchForm()">
                <md-icon>search</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-tabs class="search-page-content md-primary" ng-show="search.state === search.states.RESULTS" flex
             md-stretch-tabs="auto" md-swipe-content="true" md-dynamic-height="false">
        <md-tab>
            <md-tab-label>
                <label i18n="recalls.search.recallsTab"></label>
            </md-tab-label>

            <md-tab-body>
                <md-list class="recall-list">
                    <md-list-item class="md-3-line" ng-repeat="item in search.recalls | orderBy: 'classification'" href="#/recalls/campaigns/{{item.event_id}}">
                        <md-card flex>
                            <md-card-content layout="row" layout-align="start center" md-ink-ripple>
                                <classification-icon class="item-classificiation" classification="{{item.classification}}"></classification-icon>
                                <span flex class="item-details">
                                    <h3 class="item-title">{{item.recalling_firm}}</h3>
                                    <div class="item-description">{{item.product_description}}</div>
                                </span>
                                <md-icon>chevron_right</md-icon>
                            </md-card-content>
                        </md-card>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>

        <md-tab>
            <md-tab-label>
                <label i18n="recalls.search.classificationsTab"></label>
            </md-tab-label>

            <md-tab-body>
                <classification-distribution></classification-distribution>
            </md-tab-body>
        </md-tab>

        <md-tab ng-disabled="true">
            <md-tab-label>
                <label i18n="recalls.search.recallHistTab"></label>
            </md-tab-label>

            <md-tab-body>
                Recall History
            </md-tab-body>
        </md-tab>
    </md-tabs>

    <div flex layout="column" layout-align="center center" ng-show="search.state === search.states.SEARCHING">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="search-page-content" flex layout-align="center center" layout="column"
                ng-show="search.state === search.states.SEARCH">
        <div layout="column">
            <div class="search-results-feedback"
                 ng-if="search.recalls.length == 0" layout="row">
                <label i18n="recalls.search.noResults"></label>
            </div>
            <form name="searchForm" class="search-form"
                  ng-submit="search.searchByKeywords(searchForm.manualSearch)"
                  layout="column" layout-align="center center">
                <md-input-container class="md-icon-float">
                    <label i18n="recalls.search.manualSearchInput"></label>
                    <md-icon>search</md-icon>
                    <input ng-model="searchForm.manualSearch" required autocomplete="off">
                </md-input-container>
            </form>
            <span class="or">or</span>
            <md-button scan-button class="md-primary md-raised">
                <md-icon>photo_camera</md-icon>
                <span i18n="recalls.search.manualSearchScanButton"></span>
            </md-button>
        </div>
    </div>
</div>
