@import "../../libs/angular-material/angular-material.css";

.app {
    /*TODO: add application specific styles here*/
}

.app.ready {
   /*TODO: application is ready and loaded*/
}

ng-view,
[ng-view] {
  &.ng-leave {
    opacity: 1;
    transition: all 250ms ease;
    &.ng-leave-active {
      opacity: 0;
    }
  }
  &.ng-enter {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(10%) scale(0.9);
    transition: all 250ms ease;
    &.ng-enter-active {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}