.scan.index {
    .safer {
        background-color: white;
        background-image: url(splash/splash.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .md-button {
        width: 200px;
    }
    h1 {
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
    }
}
