<div class="scan index init" layout="column" layout-fill>
    <div class="safer"/>
    <md-toolbar layout="column" layout-align="start center" layout-padding>
        <h1 class="md-headline" i18n="scan.title"></h1>
        <h2 class="md-subhead" i18n="scan.subTitle"></h2>
        <md-button class="md-raised md-accent" scan-button>
            <md-icon>photo_camera</md-icon>
            <span i18n="scan.scanButton"></span>
        </md-button>
        <md-button class="md-primary md-hue-1" role="link"
                   href="#/search"
                   i18n="scan.enterKeywordsButton"></md-button>
    </md-toolbar>
</div>
