<div class="login index" layout="row" layout-fill layout-align="center center">
    <form ng-submit="index.login()">
        <div>Login with any values</div>
        <md-input-container>
            <label i18n="login.username"></label>
            <input ng-model="index.username"/>
        </md-input-container>
        <md-input-container>
            <label i18n="login.password"></label>
            <input ng-model="index.password"/>
        </md-input-container>
        <md-button
            layout-fill
            class="md-accent md-raised"
            i18n="login.login"
            ng-disabled="!index.canlogin()"
            type="submit">
        </md-button>
    </form>
</div>
