/* min small devices break for responsive design */
$break-small: 600px;

.search.index {

    position: relative;

    md-tabs {
        transition: none;
    }
    md-content {
        background: none;
    }
    md-tab-content {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .search-results-feedback {
        height: 35px;
        margin-top: 10px;
    }
    .search-page-content {
        > div > * {
            width: 300px;
        }
        .or {
            text-align: center;
            margin: 10px;
            position: relative;
        }

        .scan-barcode-button {
            width: 285px;
        }

        md-input-container {
            width: 100%;
        }
    }
    .result {
        @media screen and (min-width: $break-small) {
            margin: auto;
        }
        height: 0px; // Setting this makes sure the content shows scroll
        max-width: 960px;
    }
    .chart {
        padding-left: 0;
        padding-right: 0;
    }
}
