/* min small devices break for responsive design */
$break-small: 600px;
$max-width: 960px;

.search.index {

    position: relative;

    md-tabs {
        transition: none;
    }
    md-content {
        background: none;
    }
    md-tab-content {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .search-results-feedback {
        height: 35px;
        margin-top: 10px;
    }
    .search-page-content {
        > div > * {
            width: 300px;
        }
        .or {
            text-align: center;
            margin: 10px;
            position: relative;
        }
        md-input-container {
            width: 100%;
        }
    }
    .search-results {
        @media screen and (min-width: $break-small) {
            margin: auto;
        }
        max-width: $max-width;
    }
}
