/* min small devices break for responsive design */
$break-small: 600px;
$max-width: 960px;

.recall.index {
    md-content {
        background: lighten(lightgrey, 10%);

        .detail-result {
            @media screen and (min-width: $break-small) {
                margin: auto;
            }
            max-width: $max-width;
        }
    }
}
